body {
  background-color: #daedf9;
  font-family: "M PLUS Rpunted 1c";
  margin-top: 55px;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 12px 18px -7px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,117,241,1) 35%, rgba(94,136,244,1) 48%, rgba(45,175,250,1) 75%, rgba(0,212,255,1) 100%);
  color: white;
}

.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #4646466a;
}

.taskTitle {
  display: flex;
  align-items: center;
}

.taskCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border-radius: 50%;
}

.taskInCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: #595959;
  border-radius: 50%;
}

.loginAndLogout {
  padding: 20px;
}

.loginAndLogout a {
  color: lightcoral;
}

.editButton {
  color: #3a873a
}

.deleteButton {
  color: red;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.searchInput {
  height: 24px;
  outline: none;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 2px 4px;
  width: 160px;
}

.searchButton {
  border: 1px solid lightseagreen;
  padding: 4px 10px;
  background-color: #fafafa;
  color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
}

.searchButton:hover {
  background-color: lightseagreen;
  color: white;
}