body {
  background-color: #daedf9;
  font-family: "M PLUS Rpunted 1c";
  margin-top: 55px;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 12px 18px -7px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}