<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>
<style>
  body {
    background-color: #daedf9;
    font-family: "M PLUS Rpunted 1c"
    margin-top: 55px;
  }

  .todoAppWrapper {
    max-width: 530px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 12px 18px -7px #777777
    border-radius: 10px;
  }

  a {
    color: #595959;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }
</style>
<body>
  <div class="todoAppWrapper">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>