{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
  <h1>{{request.user}}のタスク</h1>
</div>

<div class="searchWrapper">
  <form method="GET">
    <input type="text" name="search" value="{{search}}" class="searchInput" />
    <input type="submit" value="検索" class="searchButton" />
  </form>
  <a href="{% url 'create-task' %}" class="addButton">タスクの追加</a>
</div>

{% comment %} <table>
  <tr>
      <th>タスク</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td><a href="{% url 'task' task.id %}">確認</a></td> <!-- url.pyのname="task"に連動している　-->
      <td><a href="{% url 'edit-task' task.id %}">編集</a></td> <!-- url.pyのname="task"に連動している　-->
      <td><a href="{% url 'delete-task' task.id %}">削除</a></td> <!-- url.pyのname="task"に連動している　-->
    </tr>
  {% endfor %}
</table> {% endcomment %}

<div class="tasksWrapper">
  {% for task in tasks %} 
  <div class="taskWrapper">
    <!-- タスク完了 -->
    {% if task.completed %}
    <div class="taskTitle">
      <div class="taskCompletedIcon"></div>
      <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
    </div>
    <div>
      <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270f;</a>
      <a href="{% url 'delete-task' task.id %}" class="deleteButton">x</a>
    </div>
    {% else %}
    <!-- タスク未完了 -->
    <div class="taskTitle">
      <div class="taskInCompletedIcon"></div>
      <a href="{% url 'task' task.id %}">{{task}}</a>
    </div>
    <div>
      <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270f;</a>
      <a href="{% url 'delete-task' task.id %}" class="deleteButton">x</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="loginAndLogout">
{% if request.user.is_authenticated %}
{% comment %} <p>{{ request.user }}</p> {% endcomment %}
<a href="{% url 'logout' %}">ログアウト</a>
{% else %}
<a href="{% url 'login' %}">ログイン</a>
{% endif %} 
</div>
{% endblock content %}