{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
  <h1>{{request.user}}のタスク</h1>
</div>

{% comment %} <h1>Todoリスト</h1>
<a href="{% url 'create-task' %}">タスクの追加</a>

<form method="GET">
  <input type="text" name="search" value={{search}}>
  <input type="submit" value="検索">
</form> {% endcomment %}

{% comment %} <table>
  <tr>
      <th>タスク</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
      <td><a href="{% url 'task' task.id %}">確認</a></td> <!-- url.pyのname="task"に連動している　-->
      <td><a href="{% url 'edit-task' task.id %}">編集</a></td> <!-- url.pyのname="task"に連動している　-->
      <td><a href="{% url 'delete-task' task.id %}">削除</a></td> <!-- url.pyのname="task"に連動している　-->
    </tr>
  {% endfor %}
</table> {% endcomment %}

<div class="tasksWrapper">
  {% for task in tasks %}
  <div class="taskWrapper">
    <!-- タスク完了 -->
    {% if task.completed %}
    <div class="taskTitle">
      <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
    </div>
    <a href="{% url 'edit-task' task.id %}" class="deleteButton">編集</a>
    <a href="{% url 'delete-task' task.id %}" class="deleteButton">x</a>
    {% else %}
    <!-- タスク未完了 -->
    <div class="taskTitle">
      <a href="{% url 'task' task.id %}">{{task}}</a>
    </div>
    <a href="{% url 'edit-task' task.id %}" class="deleteButton">編集</a>
    <a href="{% url 'delete-task' task.id %}" class="deleteButton">x</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="loginAndLogout">
{% if request.user.is_authenticated %}
{% comment %} <p>{{ request.user }}</p> {% endcomment %}
<a href="{% url 'logout' %}">ログアウト</a>
{% else %}
<a href="{% url 'login' %}">ログイン</a>
{% endif %} 
</div>
{% endblock content %}